.header {
    nav {
        padding: 2.75em 9.4375em 2.75em 9.4375em;
    }

    &__links {

        // dont display link on small screens
        @include breakpoint-down(medium) {
            display: none;
        }

        a {
            font-size: $font_med;
            padding: 0.5625em 1.125em 0.5625em 1.125em;
            background-color: $red-orange;
            color: $cream;
        }

        a:not(:last-child) {
            margin-right:3.125rem;
        }

        a:hover {
            background-color: $orange;
        }

    }
}