.header {


    nav {
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    &__logo {
        img {
            width: 8.8125rem;
            height: 1.375rem;
        }

    }

    &__links {

        // dont display link on small screens
        @include breakpoint-down(medium) {
            display: none;
        }

        a {
            font-size: $font_med;
            padding: 0.5625rem 1.125rem 0.5625rem 1.125rem;
            background-color: $red-orange;
            color: $cream;
        }

        a:not(:last-child) {
            margin-right:3.125rem;
        }

        a:hover {
            background-color: $orange;
        }

    }
}