.introduction {

    &__image {
        position: relative;
        background-image: url("/images/small_background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;
    }

    &__links {

        @include breakpoint-up(medium) {display: none;}
        @include breakpoint-down(medium) {  
            button {
                width: 100%;
                font-size: $font_med;
                background-color: $cream;
                color: $red-orange;
                border: .5px solid $red-orange;
                text-align: center;
                padding: 0.5625em 1.125em 0.5625em 1.125em;
            }
   
        }
    }
}






// background-color: $cream;

// min-height: 100%;
// @include breakpoint-down(large) {background-image: url("/images/background.png");}