body {
    background-color: #f6f4dd;
  }

.container {
    position: relative;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
}

.content-wrap {
    padding-bottom: 25px;
    width: 100%;
}

.footer {
    display: block;
    background-color: 	#f36e41; 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;   
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: #f6f4dd;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fbb050;
  }

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.katie {
    background-image: url("images/katie.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f59ba9;   
}

.main-text {
    color: #4f595f;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    width: 300px;
    height: 300px;
}

.nav-bar {
    background-color: #f36e41;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.rasp-pop {
    border-radius: 50%;
    border: 10px solid #fbb050;
    margin: 50px;
    width: 300px;
    height: 300px;
    transform: rotate(-20deg);
}