* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f4dd;
  }

.ig-link a:hover {
    background-color: #f59ba9;
    color: #fbb050;
}

.img-link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.circle-pop {
    border-radius: 5%;
    border: 10px solid #fbb050;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.container {
    position: relative;
    min-height: 100vh;
    font-family: 'Comfortaa', cursive;
}

.content-wrap {
    padding-bottom: 25px;
    width: 100%;
}

.fa-instagram {
    padding-top: 15px;
    color:#f36e41;
}

.footer {
    display: block;
    background-color: 	#f36e41; 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;   
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: #fbb050;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #fbb050;
    color:  #f36e41;
  }

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.katie {
    background-image: url("images/katie.png");
    background-size: cover; 
    background-position: center center;
    max-width: 100%;
    height: 100vh;
    background-color: #f6f4dd;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: baseline;
}

.main {
    background-color: #f59ba9;   
    padding-left: 50px;
    padding-right: 50px;
}

.main-text {
    color: #f6f4dd;
    font-size: 46px;
    padding: 20px;
}

.main-text-container {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    width: 800px;
    position: absolute;
}

.nav-bar {
    background-color: #f36e41;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pops {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.pop-img {
    margin: 50px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 25px;

}

.title-text {
    color: #f36e41;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-size: 46px;
}
