* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f4dd;
}

header {
   background-color: #f6f4dd;
   font-family: 'Comfortaa', cursive;
}

html {
    font-size: 10px;
}

.color-block {
  background-color: #4b575d;
}

.container {
  background-image: url("images/pop_wonder_sides.png");
  background-size: cover; 
  background-position: center center;
  max-width: 100vw;
  height: 100vh;
  font-family: 'Comfortaa', cursive;
}

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f59ba9;
    padding: 30px;
    width: 50%;
}

.event-name {
  font-size: 3rem;
  padding: 5px;
  color: #f6f4dd;
}

.event-date {
  font-size: 2rem;
  padding: 5px;
  color: #f6f4dd;
}

.footer {
    display: block;
    background-color: 	#f36e41; 
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 25px;   
}

#katie {
  max-height: 500px;
  max-width: 50vw;
}

li {
    float: left;
  }
  
  li a {
    display: block;
    color: #fbb050;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.8rem;
  }
  
  li a:hover {
    background-color: #fbb050;
    color:  #f36e41;
  }

.nav-bar {
  display: flex;
  flex-grow: 1;
    background-color: #f36e41;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 100vw;
}